<div>
    <p>Personnage</p>
    Formulaire à mettre au point avec les détails du personnage<br/><br/>
    Liste déroulante des races<br/>
    <mat-form-field>
      <mat-label>Choose Race</mat-label>
      <mat-select [formControl]="choixRace">
          <mat-option *ngFor="let r of listeRace" value="{{ r.valeur}}">{{ r.nom }}</mat-option>
      </mat-select>
      <mat-error *ngIf="choixRace.invalid">You must make a selection</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose Classe</mat-label>
      <mat-select [formControl]="choixClasse">
          <mat-option *ngFor="let r of listeClasse" value="{{ r.valeur}}">{{ r.nom }}</mat-option>
      </mat-select>
      <mat-error *ngIf="choixClasse.invalid">You must make a selection</mat-error>
    </mat-form-field>
    <br/>
    <app-choix-competences></app-choix-competences>
    
    <app-competences></app-competences>
    <app-sauvegardes></app-sauvegardes>
    <app-caracteristiques ></app-caracteristiques>
    <app-talent style="display: inline-table;"></app-talent>
</div>