<div>
    <span id="nomDeLaSauve-{{ nomSauve}}">{{ nomDeLaSauve }}</span>
    <span id="value-{{ nomSauve}}">{{ value.toString() }}</span>
    <span id="halfLevel-{{ nomSauve}}">{{ halfLevel.toString() }}</span>
    <span id="modCarac-{{ nomSauve }}">{{ modCarac.toString() }}</span>
    <span id="modRacial-{{ nomSauve }}">{{ modRacial.toString() }}</span>
    <span id="modClassial-{{ nomSauve }}">{{ modClassial.toString() }}</span>
    <span id="divers-{{ nomSauve }}">{{ divers.toString() }}</span><br/>
</div>