<p>Competences</p>
Faire la liste des 17 compétences avec le détail du calcul<br/>
<span>Compétence</span><span>Valeur</span><span>Modificateur</span><span>Bonus racial</span><br/>
<span>Acrobaties : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Arcanes : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Athletisme : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Bluff : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>ConnDeLaRue : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Diplomatie : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Discretion : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Endurance : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Exploration : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Histoire : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Intuition : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Intimidation : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Larcin : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Nature : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Perception : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Religion : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<span>Soins : </span><input id="Force" type="number" min="1" max="30"><span></span><span></span><br/>
<!--
{'Nom': enumCompetences.Acrobaties, 'Valeur': 0 },
{'Nom': enumCompetences.Arcanes, 'Valeur': 0 },
{'Nom': enumCompetences.Athletisme, 'Valeur': 0 },
{'Nom': enumCompetences.Bluff, 'Valeur': 0 },
{'Nom': enumCompetences.ConnDeLaRue, 'Valeur': 0 },
{'Nom': enumCompetences.Diplomatie, 'Valeur': 0 },
{'Nom': enumCompetences.Discretion, 'Valeur': 0 },
{'Nom': enumCompetences.Endurance, 'Valeur': 0 },
{'Nom': enumCompetences.Exploration, 'Valeur': 0 },
{'Nom': enumCompetences.Histoire, 'Valeur': 2 },
{'Nom': enumCompetences.Intuition, 'Valeur': 0 },
{'Nom': enumCompetences.Intimidation, 'Valeur': 2 },
{'Nom': enumCompetences.Larcin, 'Valeur': 0 },
{'Nom': enumCompetences.Nature, 'Valeur': 0 },
{'Nom': enumCompetences.Perception, 'Valeur': 0 },
{'Nom': enumCompetences.Religion, 'Valeur': 0 },
{'Nom': enumCompetences.Soins, 'Valeur': 0 },-->