span {
    display: inline-block;
    min-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
input {
    min-width: 95px;
    margin-left: 10px;
    margin-right: 10px;
}
div {
    border: solid 1px orange;
}