<div>
    <p>choix des compétences en fonction de la classe.</p>
    <p>vous avez choisi {{ nbCompeChoisie }} compétence parmi les {{ nbCompeTotale }} disponible {{ stopChoix }}</p>
    <span id="TropCompe" *ngIf="this.unPersonnage.nbCompeChoisie >= this.unPersonnage.classe.nombreCompetence" style="color: red;">
        Trop de compétences</span><br/>
    <span>Compétence</span><span>Formation</span><span>Obligatoire</span><br/>
    <app-choix-competence *ngFor="let c of enumCompeChoix;" [nomCompeChoix]="c" [stopChoixData]="stopChoix" ></app-choix-competence>
</div>