span {
    display: inline-block;
    min-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
input {
    min-width: 95px;
    margin-left: 10px;
    margin-right: 10px;
}
mat-checkbox {
    width: 130px;
    text-align: center;    
}